<% if errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-danger">
      <%= t "formcontain" %><%= pluralize errors.count, t("err") %>.
    </div>
    <ul>
      <% errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
